<!-- @format -->

<%- include('partials/header') %>

<div class="container">
    <h1>Compose</h1>
    <form action="/">
        <input type="text" name="" id="" />
        <button type="submit">Compose</button>
    </form>
</div>

<%- include('partials/footer') %>
