<!-- @format -->

<%- include('partials/header') %>

<div class="container">
    <h1>Home</h1>
    <p><%= startingContent %></p>

    <% posts.forEach((post)=>{ console.log(post.title) }) %> %>
</div>

<%- include('partials/footer') %>
